* {
    box-sizing: border-box;
    outline: none;
}
body {
    text-rendering: optimizeLegibility;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-body;
    font-weight: normal;
    color: #000;
    font-size: 16px;
    line-height: 1.3;
    background-color: #fff;
    -webkit-text-size-adjust: none;
    min-height: 100%;
    position: relative;
    font-weight: 400;
    margin-top: 0 !important;

    @include media(md) {

    }

}
html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin-top: 0 !important;
}
header, footer, article, section, nav, main {

}

.hidden {
    display: none;
}
//
.avia-cookie-consent-wrap {
    display: none !important;

}


