.calc {

  &__footer {

    &-container {
      background: #fff url('../images/background-footer.jpg') left bottom no-repeat;
      background-size: 600px;
      padding: 0px 40px 0px 30%;
      border-radius: 8px;
      position: relative;
      margin: 0 -3px;
      font-size: 22px;
      line-height: 1.4;
      color: $color-blue-dark;
      font-weight: normal;
      display: flex;
      align-items: center;
      height: 200px;
      @include media(xl) {
        font-size: 18px;
        padding: 0px 40px 0px 35%;
      }
      @include media(lg) {
        padding-left: 40%;
      }
      @include media(sm) {
        background-image: none;
        padding: 40px;
        height: auto;
      }

      strong {
        color: $color-orange;
      }
    }

  }
}
