#top {
  .calc {

    &__header {
      margin: 0 0 40px 0;

      &-title {
        color: $color-orange;
        font-size: 54px;
        line-height: 1.3;
        font-weight: 500;
        margin: 0;

        span {
          color: #fff;
          font-weight: 400;
        }
      }
    }


  }
}
