.calc {
  $calc-total-size    :   250px;
  $calc-total-size-xl :   220px;

  &__result {
    background-color: $color-blue;
    text-align: center;
    padding: 40px 30px;
    margin: $calc-tabs-height 0 0 0;
    height: 100%;
    @include media(md) {
      margin: 0;
    }


    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 30px;
      @include media(md) {
        position: relative;
        top: auto;
      }
    }

    &-title {
      color: #fff;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 500;
      margin: 0 0 25px 0;
    }

    &-excerpt {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.4;
      color: #fff;
      margin: 0 0 25px 0;
    }

    &-total {
      width: $calc-total-size;
      height: $calc-total-size;
      border-radius: 50%;
      background: #f28e26;
      background: -moz-linear-gradient(-45deg,  #f28e26 0%, #fd644f 100%);
      background: -webkit-linear-gradient(-45deg,  #f28e26 0%,#fd644f 100%);
      background: linear-gradient(135deg,  #f28e26 0%,#fd644f 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28e26', endColorstr='#fd644f',GradientType=1 );
      display: flex;
      padding: 16px;
      margin: 0 0 35px 0;
      box-shadow: 0 0 0 rgba(255,126,11, 0);



      @include media(xl) {
        width: $calc-total-size-xl;
        height: $calc-total-size-xl;
      }

      &.pulse {
        animation: pulse 1.0s;
      }

      span {
        background-color: $color-blue;
        color: #fff;
        font-weight: 500;
        font-size: 26px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }

    &-btngroup {
      display: flex;
      flex-direction: column;

      .btn {
        width: 180px;
        padding: 0;

        &:first-child {
          margin: 0 0 15px 0;
        }

      }


    }

  }


}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,126,11, 0.4);
    transform: scale(1.0);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(255,126,11, 0);
    transform: scale(0.98);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255,126,11, 0);
    transform: scale(1.0);
  }
}
