.calc {
  $max-width: 960px;
  $max-width-md: 560px;

  &__tab_next {
    max-width: $max-width;
    margin: 0 auto;
    @include media(md) {
      max-width: $max-width-md;
    }

    &-form {
      padding: 30px 0 0 0;
      @include media(xl) {
        padding: 0;
      }

      &-row {
        $gutter: 20px;
        $gutter-sm: 15px;

        position: relative;
        margin: 0 -#{$gutter};
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include media(sm) {
          margin: 0 -#{$gutter-sm};
        }

        &-col {
          padding: 0 $gutter;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 33.32%;
          margin: 0 0 40px 0;
          @include media(lg) {
            width: 50%;
          }
          @include media(sm) {
            padding: 0 $gutter-sm;
          }
          @include media(xxs) {
            width: 100%;
          }

          &.range {

            label {
              order: 1;
            }

            input {
              order: 2;
              max-width: 160px;
              margin: 0 auto;
            }

            .irs {
              order: 3;
            }
          }

          .select2-container {
            max-width: 270px;
            margin: 0 auto;
          }

        }

      }

    }

  }
}
