.report {

  .page_1 {

    &__header {
      margin: 0 0 40px 0;
      background: none;
      position: relative;
      z-index: 1;

      > div {
        position: absolute;
        width: 100%;
        left: $var-padd-content;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
      }

      &-title {
        color: #fff;
        margin: 0 0 15px 0;
        font-size: 30px;
        line-height: 34px;
        padding: 25px 0 0 0;
      }

      &-excerpt {
        span {
          text-transform: uppercase;
          color: $color-orange;
          font-weight: 600;
          font-size: 18px;
        }
        p {
          display: inline-block;
          padding: 0 0 0 5px;
          margin: 0;
          color: #fff;
          font-weight: 500;
          font-size: 18px;
          text-decoration: underline;
        }
      }

    }

    &__content {
      padding: 0 $var-padd-content;

      &-excerpt {
        font-size: 12px;
        line-height: 1.5;
        margin: 0 0 40px 0;

        p {
          padding: 0;
          margin: 0;
          opacity: .75;
          display: inline;
        }
      }

      &-savings {
        margin: 0 0 40px 0;

        &-table {
          $right-width: 350px;
          font-size: 14px;

          .column {
            display: flex;
            align-items: center;

            span {
              width: 50%;
              text-align: center;
              padding: 15px;
              font-size: 12px;

              &.orange {
                background-color: $color-orange;
              }
            }
          }

          &-header {
            background-color: $color-blue;
            color: #fff;
            display: flex;
          }

          .left {
            width: calc(100% - #{$right-width});
            display: flex;
            align-items: center;
            padding: 0 0 0 30px;
          }

          .right {
            width: $right-width;

            span {
              &:nth-child(2) {
                margin: 0 15px 0 0;
              }
            }
          }

          &-tbl {
            border: 1px solid #000;
            border-top: none;

            .tr {
              display: flex;

              &:not(:last-child) {
                border-bottom: 1px solid #000;
              }

              .left {
                font-size: 12px;
              }

            }
          }

        }

      }

      &-list {
        $gutter: 3px;

        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-left: -#{$gutter};
        margin-right: -#{$gutter};
        margin-bottom: 50px;

        > li {
          padding: 0 $gutter;
          width: 20%;
          display: flex;
        }

        &-inner {
          background-color: #015698;
          width: 100%;
          border-radius: 22px;
          padding: 30px 10px 30px 10px;
          text-align: center;

          small {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            color: #fff;
            line-height: 1.1;
          }

          span {
            display: block;
            color: $color-orange;
            font-weight: 900;
            font-size: 15px;
            line-height: 1.1;
            text-transform: uppercase;
            padding: 20px 0;
          }

          p {
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            margin: 0;
            padding: 0;
            font-size: 10px;
            line-height: 1.3;
          }

        }

      }

      &-total {
        text-align: center;

        &-title {
          font-size: 50px;
          line-height: 1.3;
          display: block;
          color: $color-orange;
          text-transform: uppercase;
          margin: 0 0 10px 0;
          padding: 0;
          font-weight: 900;
        }

        &-subtitle {
          color: $color-blue;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 1.2;
          font-weight: 500;
          margin: 0;
          padding: 0;
        }
      }
    }

  }

}
