.report {

  .page_2 {

    &__content {
      padding: 0 $var-padd-content;

      &-graph {
        margin: 0 0 50px 0;

        &-title {

        }

        img {
          display: block;
          max-width: 100%;
          height: auto;

        }

      }

      &-totals {

        &-list {
          $gutter: 12px;

          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          position: relative;
          margin-left: -#{$gutter};
          margin-right: -#{$gutter};
          margin-bottom: #{$gutter * 2};

          > li {
            padding: 0 $gutter;
            width: 33.32%;
            display: flex;
          }

          &-inner {
            background-color: #015698;
            width: 100%;
            border-radius: 22px;
            padding: 30px 10px 30px 10px;
            text-align: center;

            small {
              font-weight: 500;
              font-size: 12px;
              color: #fff;
              line-height: 1.2;
              display: block;
              margin: 0 0 4px 0;

              &.orange {
                display: block;
                color: $color-orange;
                margin: 0;
              }
            }

            span {
              display: block;
              color: $color-orange;
              font-weight: 700;
              font-size: 24px;
              line-height: 1.1;
              text-transform: uppercase;
              padding: 30px 0 10px 0;
            }

            p {
              text-transform: uppercase;
              color: #fff;
              font-weight: 500;
              margin: 0;
              padding: 0 15px;
              font-size: 11px;
              line-height: 1.3;
              letter-spacing: .1em;
            }

          }
        }

      }

      &-quote {
        $title-width: 238px;

        display: flex;
        position: relative;

        img {
          position: relative;
          z-index: 1;
          display: block;
          max-width: 100%;
          height: auto;
        }

        &-row {
          position: absolute;
          z-index: 3;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-wrap: wrap;
        }

        &-title,
        &-text {
          height: 100%;
          display: flex;
          align-items: center;
          background: none;
        }

        &-title {
          width: $title-width;
          text-transform: uppercase;
          padding: 0 0 0 40px;
          display: flex;
          align-items: center;

          span {
            display: block;
            font-weight: 900;
            font-size: 32px;
            line-height: 1.1;

            &:nth-child(1) {
              color: $color-orange;
            }
            &:nth-child(2) {
              color: #fff;
            }
            &:nth-child(3) {
              color: $color-blue-dark;
            }
          }

        }

        &-text {
          width: calc(100% - #{$title-width});
          color: #fff;
          display: flex;
          align-items: center;
          padding: 30px;
          font-size: 11px;
          line-height: 1.6;

          p {
            display: inline;
            margin: 0;
            padding: 0;
            color: $color-orange;
            font-weight: 500;
          }


        }

      }


    }

  }

}
