.report {

  .page_3 {

    &__content {
      padding: 0 $var-padd-content;

      &-title {
        margin: 0 0 40px 0;
      }

      &-column {
        $width-left: 210px;

        display: flex;
        margin: 0 0 35px 0;

        &-left {
          width: $width-left;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &-right {
          width: calc(100% - #{$width-left});
          padding: 0 0 0 40px;
        }

        &-box {
          background-color: #015698;
          height: calc(50% - 15px);
          border-radius: 22px;
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;

          > div {
            width: 100%;
          }

          small {
            font-weight: 500;
            font-size: 12px;
            color: #fff;
            line-height: 1.2;
            display: block;
            margin: 0 0 4px 0;

            &.orange {
              display: block;
              color: $color-orange;
              margin: 0;
            }
          }

          span {
            display: block;
            color: $color-orange;
            font-weight: 700;
            font-size: 22px;
            line-height: 1.1;
            text-transform: uppercase;
            padding: 30px 0 10px 0;
          }

          p {
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            margin: 0;
            padding: 0 15px;
            font-size: 11px;
            line-height: 1.3;
            letter-spacing: .1em;
          }

        }

        &-cell {
          border-radius: 22px;
          border: 1px solid $color-blue;
          height: 100%;
          padding: 40px 30px;

          &-title {
            text-transform: uppercase;
            font-size: 28px;
            line-height: 1.3;
            margin: 0 0 20px 0;

            span {
              color: $color-blue;
              font-weight: 500;
              font-size: 24px;
              letter-spacing: 0.1em;
            }

            strong {
              font-weight: 900;
              color: $color-orange;
              letter-spacing: 0.1em;
            }
          }

          &-text {
            font-size: 12px;
            line-height: 1.6;
            opacity: 0.95;
            p {

            }
          }
        }
      }

    }

  }

}
