.wpcf7 {
    $calc-input-height  : 48px;
    $border-color       : #cecccc;
    $border-width       : 2px;
    $border-radius      : 6px;
    $color              : #2c2b29;
    $font-size          : 16px;
    $font-weight        : normal;
    $focus-color        : $color-blue-light;

    &.loader {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(247, 247, 247, 0.25) url('../images/loader.gif') center center no-repeat;
        }

        form {
            position: relative;
            z-index: 1;
            filter: blur(2px);
        }
    }

    &-response {
        &-output {
            display: none !important;
        }
    }

    &-form {
        &-control {
            display: block;
            width: 100%;

            &-wrap {
                display: block;
                width: 100%;
            }
        }
    }

    &-list {
        &-item {
            display: block;
            width: 100%;
            margin: 0;
        }
    }

    &-acceptance {
        label {
            padding: 0;
            margin: 0;
        }
    }

    &-not {
        &-valid {
            border-color: $color-red !important;

            &:focus {
                border-color: $color-red !important;
            }

            &-tip {
                padding: 5px 0 0 0;
                font-weight: 500;
                font-size: 12px;
                color: $color-red;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }

    [type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
        width: 0;
        height: 0;

        + span {
            display: inline-flex;
            position: relative;
            padding: 0 0 0 30px;
            color: $color-blue;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.3;
            margin: 0;
            width: unset;
            cursor: pointer;
            text-align: left;

            &::before {
                $size: 17px;

                content: '';
                display: block;
                position: absolute;
                width: $size;
                height: $size;
                border: $border-width solid $border-color;
                left: 0;
                border-radius: 4px;
                background-color: #fff;
                top: 3px;
            }

            &::after {
                content: '';
                display: block;
                width: 10px;
                height: 6px;
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                position: absolute;
                z-index: 2;
                left: 4px;
                top: 7px;
                transform: rotate(-45deg);
            }

        }

        &:checked {

            + span {

                &::before {
                    border-color: $color-orange;
                    background-color: $color-orange;
                }
            }
        }

        &[data-focus-visible-added] {
            + span {
                &::before {
                    border-color: $focus-color !important;
                }
            }
        }

    }

    .calc__tab_end-form-check {
        .wpcf7-not-valid-tip {
            text-align: center;
            position: static;
        }
    }

}
